$primary-color: #16a085;

.plataformas {

  &__title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: lighten(#555, 20%);
  }
  
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 520px) {
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      flex-direction: column;
      margin: 10px;
      height: 300px;
      padding: 20px;
      text-align: center;
      color: #000;
      background: #2c3e50;
      border-radius: 4px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;

      @media (max-width: 520px) {
        flex-grow: 1;
      }
      
      &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.50);
        transform: scale(1.1);
      }
    }
  
    &__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.4rem;
      color: $primary-color;
    }
  
    &__description {
      margin: 20px;
      flex-grow: 1;
      font-size: 1.1rem;
      color: #fff;
    }
  
    &__action {
      background: none;
      padding: 14px 20px;
      cursor: pointer;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-color;
      border-radius: 2px;
      border: 2px solid $primary-color;
      outline: none;
      transition: background 0.4s linear;
  
      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }

}