<div class="plataformas">
  <h2 class="plataformas__title">Selecione a plataforma</h2>

  <div class="plataformas__items">
    <div class="plataformas__items__item" ng-repeat="plataforma in $ctrl.plataformasData.plataformas">
      <h3 class="plataformas__items__title">{{plataforma.nome}}</h3>
      <p class="plataformas__items__description">{{plataforma.descricao}}</p>
      <button ng-click="$ctrl.selectPlataforma(plataforma.sku)" class="plataformas__items__action">Selecionar</button>
    </div>
  </div>
</div>