// base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background: #ecf0f1;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header,
.main-footer,
.main {
  @extend .container;
}

.main-header {
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  
  &__title {
    a {
      color: #16a085;
      text-decoration: none;
      font-size: 2.5rem;
    }
  }
}

.main {
  flex: 1;
  width: 100%;
}

.main-footer {
  text-align: center;
  padding: 3rem 0;

  &__text {
    font-size: 0.9rem;
    color: #555;
    
    > .heart {
      $color-heart: #3498db;

      background-color: $color-heart;
      display: inline-block;
      height: 10px;
      margin: 0 5px;
      position: relative;
      top: 0;
      transform: rotate(-45deg);
      width: 10px;
      animation: pulse 0.4s linear infinite alternate;
  
      &:before,
      &:after {
        content: '';
        background-color: $color-heart;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
      }
  
      &:before {
        top: -5px;
        left: 0;
      }
  
      &:after {
        top: 0;
        right: -5px;
      }
    }
  }
}

@keyframes pulse {
  from { transform: scale(0.9) rotate(-45deg) }
  from { transform: scale(1.2) rotate(-45deg) }
}