<header class="main-header">
  <h1 class="main-header__title"><a href="/">Celular Direto</a></h1>
</header>

<main class="main" ui-view>
  
</main>

<footer class="main-footer">
  <p class="main-footer__text">Desenvolvido por Lucas Stoque com <span class="heart"></span></p>
</footer>