$primary-color: #16a085;

.planos {

  &__title {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    color: $primary-color;
  }
  
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__item {
      display: flex;
      flex-direction: column;
      margin: 10px;
      height: 300px;
      width: 290px;
      padding: 20px;
      text-align: center;
      color: #000;
      background: #2c3e50;
      border-radius: 4px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
      
      &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.70);
        transform: scale(1.1);
      }
    }
  
    &__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 3rem;
      color: $primary-color;
    }
  
    &__price {
      margin: 20px;
      flex-grow: 1;
      font-size: 2rem;
      color: #fff;

      strong {
        font-size: 2.4rem;
      }
    }
  
    &__action {
      background: none;
      padding: 14px 20px;
      cursor: pointer;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-color;
      border-radius: 2px;
      border: 2px solid $primary-color;
      outline: none;
      transition: background 0.4s linear;
  
      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }

}