<div class="planos">
  <h2 class="plataformas__title">Selecione o plano</h2>

  <div class="planos__items">
    <div class="planos__items__item" ng-repeat="plano in $ctrl.planosData.planos | filter:!ativo">
        <h3 class="planos__items__title">{{plano.franquia}}</h3>
        <p class="planos__items__price">R$ <strong>{{plano.valor}}</strong></p>
        <button ng-click="$ctrl.selectPlano(plano.sku)" class="planos__items__action">Selecionar</button>
    </div>
  </div>
</div>
