<form name="form" class="form">
  <label class="form__label" for="nome">Nome</label>
  <input 
    class="form__input" 
    type="text" 
    name="nome" 
    id="nome"
    ng-model="info.nome" 
    ng-required="true"
    placeholder="Preencha seu nome"
    autofocus
  >

  <label class="form__label" for="email">Email</label>
  <input 
    class="form__input" 
    type="email" 
    name="email" 
    id="email"
    ng-model="info.email"
    ng-required="true"   
    placeholder="Preencha seu email" 
  >

  <label class="form__label" for="nascimento">Nascimento</label>
  <input 
    class="form__input" 
    type="text" 
    name="nascimento" 
    id="nascimento"
    ng-model="info.nascimento"
    ng-required="true"
    ui-date-mask="DD/MM/YYYY"
    placeholder="Preencha a sua data de nascimento"
  >

  <label class="form__label" for="cpf">CPF</label>
  <input 
    class="form__input" 
    type="text" 
    name="cpf" 
    id="cpf"
    ng-model="info.cpf"
    ng-required="true"   
    ui-br-cpf-mask
    placeholder="Preencha seu CPF"
  >

  <label class="form__label" for="telefone">Telefone</label>
  <input 
    class="form__input" 
    type="text" 
    name="telefone" 
    id="telefone"
    ng-model="info.telefone"
    ui-br-phone-number
    placeholder="Preencha seu telefone"
  >

  <button class="form__action" ng-click="$ctrl.sendData(info)" ng-disabled="form.$invalid">Enviar</button>

  <div class="form__message" ng-show="$ctrl.successMessage">
    Dados enviados com sucesso!
  </div>
</form>