$primary-color: #16a085;

.form {
  max-width: 600px;
  margin: 0 auto;

  &__input,
  &__label,
  &__action {
    display: block;
    width: 100%;
  }

  &__label {
    margin-bottom: 4px;
    font-size: 1rem;
    color: #555;
  }

  &__input[type="text"],
  &__input[type="email"] {
    margin-bottom: 15px;
    height: 36px;
    text-indent: 2ch;
    background: transparent;
    border: 1px solid lighten(#000, 80%);
    border-radius: 2px;
    outline: none;

    &:focus {
      border: 1px solid #16a085;
      box-shadow: 0 0 3px rgba(22, 160, 133, 0.40);
    }
  }

  &__action {
    background: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-color;
    border-radius: 2px;
    border: 2px solid $primary-color;
    outline: none;
    transition: background 0.4s linear;

    &:hover:enabled {
      background: $primary-color;
      color: #fff;
    }

    &:disabled {
      color: gray;
      border-radius: 2px;
      border: 2px solid lightgray;
      cursor: auto;
    }
  }

  &__message {
    background: #27ae60;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin: 10px 0;
  }
}